<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>Hang Detect Facial Expression Website | Welcome</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1>The New <span class="highlight">Universe</span></h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/model">Predict</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Indentify Facial Expressions using CNN</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Github Repository</h1>
        <form action="http://google.com" method="get" target="_blank">
          <!-- <input type="email" placeholder="Enter Email..."> -->
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <h1>What We Do</h1>
        <div class="box">
          <img src="static/img/c1.jpg">
          <h3>Identify Facial Area</h3>
          <p>Thanks to python face_recognition library, we can identify facial area inside a specific uploaded picture.</p>
        </div>
        <div class="box">
          <img src="static/img/c2.jpg">
          <h3>Face Recognition</h3>
          <p>After that, we take the name supplied from the user and tag it on a right person inside the image.</p>
        </div>
        <div class="box">
          <img src="static/img/c3.jpg">
          <h3>Predict The Expression</h3>
          <p>Using transfer learning and apply tensorflow keras application vgg16, we can predict the facial expression of each person inside the image.</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Nguyen Thi Diem Hang, Copyright &copy; 2019</p>
    </footer>
  </body>
</html>
